@media screen and (max-width: 768px) {
    .header h2,
    .header h3 {
        font-size: 1em;
    }

    .main-container {
        width: 80%;
    }

    .actions {
        flex-direction: column;
        width: 90%;
    }

    .actions .closed {
        margin-bottom: 20px;
    }
}