@media screen and (max-width: 500px) {
    .header h2,
    .header h3 {
        font-size: 1em;
    }

    .info {
        width: 90%;
    }

    .main-container {
        width: 90%;
        min-height: fit-content;
    }

    .description {
        flex-direction: column;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    #day {
        margin: 0;
    }

    #menu {
        margin: 0;
    }

    .plus,
    .minus {
        font-size: xx-large;
    }

    #orders {
        font-size: x-large;
    }

    #requests {
        font-size: 16px;
    }

    #name,
    #email {
        font-size: 16px;
    }

    .footer {
        color: white;
    }
}