body {
    min-height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-family: MS Sans Serif, Tahoma, Verdana, Segoe UI, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    min-height: fit-content;
    width: 100%;
    color: white;
    background-color: #193cb8;
    box-shadow:  inset -3px -3px #0a7de2, inset 3px 3px #05275d;
}

.header img {
    margin-left: 20px;
}

.header h2 {
    margin: 20px 0 20px 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #d0d4da;
    background-color: #f3f4f6;
    box-shadow: inset -3px -3px #f7f7f9, inset 3px 3px #8b8c8f;
    font-size: 0.7rem;
    font-family: MS Sans Serif, Tahoma, Verdana, Segoe UI, sans-serif;

}

.main-container {
    height: fit-content;
    width: 35%;
    padding: 20px;
    margin: 20px 0 50px 0;
    border: 2px solid #d0d4da;
    background-color: #f3f4f6;
    box-shadow: inset -3px -3px #f7f7f9, inset 3px 3px #8b8c8f;
    font-family: MS Sans Serif, Tahoma, Verdana, Segoe UI, sans-serif;

}

.main-container div {
    display: flex;
    width: 100%;
}

.description {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.nav-buttons {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
    -webkit-user-select: none;
    user-select: none;
}

.days {
    display: flex;
    flex-direction: column;
}

.data {
    align-items: center;
}

.monday {
    align-items: center;
    border-bottom: #d0d4da solid 2px;
    padding: 10px 0 10px 0;
    margin: 0px 0 10px 0;
}

.monday:first-child {
    color: rgb(59, 59, 255);
}

.monday:nth-child(2) {
    color: rgb(108, 187, 255);
}

.monday:nth-child(3) {
    color: rgb(255, 140, 0);
}

.monday:nth-child(4) {
    color: rgb(255, 94, 236);
}

.monday:nth-child(5) {
    color: rgb(51, 255, 194);
}

#day {
    margin-right: 10px;
}

.plus,
.minus {
    border: none;
    border: 2px solid #d0d4da;
    background-color: #f3f4f6;
    box-shadow: inset -3px -3px #f7f7f9, inset 3px 3px #8b8c8f;
}

.plus:active,
.minus:active {
    background-color: #99a1af;
} 

#orders {
    width: 2ch;
    border: 2px solid #d0d4da;
    background-color: #f3f4f6;
    box-shadow: inset -3px -3px #f7f7f9, inset 3px 3px #8b8c8f;
    padding: 4px;
}

#menu {
    margin: 0 0 0 40px;
}

.name {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.name label {
    margin-right: 20px;
    flex-basis: 50%;
}

.specific-requests {
    flex-direction: column;
}

.specific-requests label {
    margin-top: 20px;
}

#requests,
#requests:focus-visible {
    outline: none;
    background-color: #f3f4f6;
    margin-bottom: 20px;
    border: 2px solid #d0d4da;
    background-color: #f3f4f6;
    box-shadow: inset -3px -3px #f7f7f9, inset 3px 3px #8b8c8f;
    padding: 5px;
}

.disclaimer {
    font-size: 15px;
}

.totalPrice {
    justify-content: space-between;
    align-items: center;
}

.totalPrice .order-btn {
    max-height: fit-content;
    padding: 20px 20px 20px 20px;
    line-height: 1rem;
    font-size: large;
    border: 2px solid #d0d4da;
    background-color: #d1d5dc;
    box-shadow: inset -3px -3px #f7f7f9, inset 3px 3px #8b8c8f;
    font-family: MS Sans Serif, Tahoma, Verdana, Segoe UI, sans-serif;
}

.totalPrice button:active {
    transform: scale(0.9);
}

.totalPrice button:hover {
    background-color: #99a1af;
}
 
.footer {
    display: flex;
    align-items: center;
    min-height: fit-content;
    width: 100%;
    color: white;
    background-color: #193cb8;
    box-shadow:  inset -3px -3px #0a7de2, inset 3px 3px #05275d;
}

.footer h4 {
    margin-left: 20px;
}